{{ partial "header.html" . }}

<main role="main">
  <article class="single">
    <header><h2>{{ .Title }}</h2></header>
    {{ if eq .Section "post" }}
    <footer>
      <time datetime="{{ .Date.Format "2006-01-02 15:04:05 -0700" }}">
        {{ .Date.Format "_2 January 2006" }}
      </time>
    </footer>
    {{ end }}
    <section>
    {{ .Content }}
    </section>
    {{ if and .Site.utterancesRepo }}
			<section class="comments">
				{{ partial "utterances.html" . }}
			</section>
		{{ end }}
  </article>
</main>

{{ partial "footer.html" . }}
