body { /* Acts as wrapper */
    margin: 0 auto;
    max-width: $large-max-width;
}

header#masthead {
  text-align: center;
  h1 {
    margin-top: 0;
    margin-bottom: 1rem;
    a:hover,
    a:focus {
      text-decoration: none;
    }
  }
  img {
    width: 7.5rem;
    margin: 1rem auto 0;
  }
}

article {
  header, footer {
    text-align:center;
    display: block;
  }
  img {
    max-width: 100%;
  	display: block;
  	margin: {
  		left: auto;
  		right: auto
	  }
  }
}

article.single {
  section {
    margin-top: 3rem;
  }
}

nav {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 5rem;
  ul {
    list-style-type: none;
    margin: 2rem 0 0;
  }
  li {
    display: inline-block;
    margin: 0 .75em;
  }
}

main {
  margin: 2.5rem 0;
}

main.archive { /* Post list pages */
  text-align: center;
  article {
    margin: 2.5rem 0;
  }
}

time {
  display: block;
  margin: .5em 0;
}

footer#footer {
  display: block;
  text-align: center;
  margin-bottom: 2rem;
  img {
    width: 3.75rem;
    display: block;
    margin: 0 auto 2rem auto;
  }
}
