p {
  font-size: 1.2rem;
  line-height: 1.6;
  margin: 1em 0;
}

a {
  color: $colour-link;
  text-decoration: none;
  &:hover,
  &:focus {
    color: $colour-accent;
    border-bottom: none;
  }
  strong {
    color: inherit;
  }
}

strong { font-weight: bold; }
em { font-style: italic; }

%header-text {
  font-family: $face-headings;
  color: $colour-header;
  font-style: normal;
  margin: 2em 0 0.5em;
  font-weight: 400;
}

@each $header, $size in (h1: 2rem, h2: 1.75rem, h3: 1.5rem, h4: 1.3rem, h5: 1.15rem, h6: 1rem) {
  #{$header} {
    @extend %header-text;
    font-size: $size;
  }
}

a {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $colour-link;
    &:hover,
    &:focus {
      color: $colour-accent;
    }
  }
}

/* Post titles only */
article header h2 {
  @extend %header-text;
  font-size: 2rem;
  line-height: 1.2;
  margin: .4em 0;
}

/* Masthead */
header#masthead {
  h1 { /* 'Name of site' text */
    font: italic normal 5rem $face-display;
    text-transform: none;
    letter-spacing: normal;
    a {
      border: none;
      /*&:hover,
      &:active {
        color: $colour-link; // Disable overlay highlight for masthead
      }*/
    }
  }
  aside { /* Tagline underneath logo */
    font-size: 1rem;
    font-style: normal;
    font-family: $face-tagline;
    font-weight: 300;
    color: $colour-meta;
    text-transform: lowercase;
    letter-spacing: .05em;
  }
}

time {
  color: $colour-meta;
  font-family: $face-meta;
  font-weight: 400;
}

/* Main navigation menu */
nav {
  a {
    font: normal 1.25rem $face-nav;
    font-weight: 400;
    letter-spacing: 0.05em;
    text-transform: lowercase;
    border-bottom: 1px dotted $colour-accent;
    &:hover,
    &:focus {
      border-bottom: none;
    }
  }
}

/* Code blocks and teletype */
code, pre {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  background-color: $colour-code !important; // overrides highlightjs
  font-size: 1rem;
}

pre {
  margin: 1em 0;
  padding: 1em;
  line-height: 1.3;
  border-left: 0.3rem solid #ccc;
  overflow-x: auto;
}

.hljs {
  // Match highlighted code to body text
  color: $colour-copy;
}

p>code { /* In-line code only */
  letter-spacing: -0.05em;
  font-size: inherit;
  /* Space in-line code apart from surrounding words
     (Inspired by GitHub's CSS) */
  &::before, &::after {
    content: "\00a0"; /* = non-breaking space */
  }
}

/* Post date info at top of articles */
article footer {
  display: inline-block;
  color: $colour-meta;
}

/* Footer and copyright information */
footer#footer {
  color: $colour-meta;
  font: normal .75rem $face-footer;
  letter-spacing: .1em;
  text-transform: lowercase;
  font-weight: 300;
}

/* Superscripts and subscripts */
sup, sub {
  font-size: smaller;
  vertical-align: super;
  line-height: 0; /* Protect line-height of surrounding text */
}
sub { vertical-align: sub; }

/* Lists, lists of lists and lists of lists of lists */
ol, ul {
  list-style-position: outside;
  margin-left: 3rem;
  font-size: 1.1rem;
  ol, ul { /* level >=2 */
    margin-left: 1.5rem;
  }
  p { font-size: inherit; }
}

dl {
	font-size: 1.1rem;
	ol, ul, dl {
		margin-left: 1.5rem;
	}
	p { font-size: inherit; }
}

dt {
	margin-left: .4rem;
	font-weight: normal;
	font-style: italic;
}
dd {
	margin-left: 3rem;
}

ol {
  list-style-type: decimal;
  li { padding-left: .5rem; }
  ol { list-style-type: lower-alpha;
    ol { list-style-type: lower-roman;
    }
  }
}

ul {
  list-style-type: disc;
  li { padding-left: .3rem; }
  ul { list-style-type: square;
    ul { list-style-type: circle;
    }
  }
}

li, dt, dd { line-height: 1.8; }

/* Footnotes section */
div.footnotes {
  padding-top: 1rem;
  ol, ul {
    p { margin: inherit; }
  }
}

/* Figures and captions */
.figure .caption {
  text-align: center;
}


/* Booktabs-style tables */
table {
  width: auto;
  margin: 2rem auto;
  border-top: 1px solid $colour-copy;
  border-bottom: 1px solid $colour-copy;
}
thead {
  vertical-align:middle;
}
th, td {
    text-align: left;
    font-size: 1rem;
    line-height: 1.7;
}
th {
    border-bottom: 1px solid #999;
    padding: 0.65ex 0.5em 0.4ex 0.5em;
    font-weight: normal;
}
td {
    padding-left: 0.5em;
    padding-right: 0.5em;
}
tr:first-child td {
    padding-top: 0.65ex;
}

/* Horizontal rules */
hr {
  border: dotted $colour-accent;
  border-width: 1px 0 0 0;
  margin: 2rem 0;
}

/* Quotations */
%myquote {
  position: absolute;
  font: bold 4rem Georgia, 'Times New Roman', serif;
  font-style: normal;
  line-height: 0;
  color: #999;
}
blockquote {
  quotes: '\201C' '\201D' '\2018' '\2019'; /* " " ' ' */
  margin: 2rem 0.8rem;
  font-style: italic;
  padding: 0.1rem 1rem;
  border-left: 0.3rem solid #ccc;
  background-color: $colour-code;
  position: relative;
  display: block;
  &:before {
    @extend %myquote;
    content: open-quote;
    text-align: left;
    top: 2.5rem;
    left: 1rem;
  }
  &:after {
    @extend %myquote;
    content: close-quote;
    bottom: 0.5rem;
    right: 1rem;
  }
  p {
    font-style: italic;
    margin: 0 3rem;
    padding: 0.5rem 0;
  }
}
