/* Layout */
$large-breakpoint: 38rem;
$large-max-width: 48rem;

/* Choose colours */
$primary: #f5c966;
$secondary: #418997;
$lightteal: #cbe6e6;
$black: #515151;
$darkgrey: #777;
$white: #fff;
$grey: #b3b3b3;
$lightgrey: #f5f8fa;

/* Assign colours to generic roles */
$colour-bg: $white;
$colour-copy: $black;
$colour-header: $black; //inherit;
$colour-meta: $grey;
$colour-accent: $primary;
$colour-link: $secondary;
$colour-code: $lightgrey;

/* Fonts and typefaces */
@import '//fonts.googleapis.com/css?family=Playfair+Display:400i|Merriweather:400,400i,700|Merriweather+Sans:300,400';

$base-font-size: 16px;
$large-font-size: 20px;
$base-line-height: 1.5;

$base-font-family: Merriweather, Georgia, serif;
$face-display: "Playfair Display", Georgia, serif;
$face-sans: "Merriweather Sans", Helvetica, Arial, sans-serif;

$face-headings: $face-sans;
$face-tagline: $face-sans;
$face-nav: $face-sans;
$face-footer: $face-sans;
$face-meta: $face-sans;
